# Tab a esc
keyCode(15) -> keyCode(1)
Tab -> Esc
# se interpreta como: keyRemap(15,1)

# script
a -> script(onKeyState=Press)=alacritty&
# se interpreta como: script(30,alacritty&,1)

# script
a -> script=alacritty&
# se interpreta como: script(30,alacritty&,1)

# macro
a -> write()
# se interpreta como:
        macroKey()

